/* headers */

.header {
    background-color: var(--primary-color);
    padding: 10px;
}

.header .container {
    display: flex;
    align-items: center;
    color: #fff;
}

/* main menu */

.main_menu{
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
}

.main_menu li{
    padding: 0 10px;
    font-size: 26px;
}

.main_menu li img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.main_menu .user_profile{
    position: relative;
}

.main_menu .user_profile-modal{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    width: 200px;
    position: absolute;
    top: 120%;
    right: 0;
    color: black;
    padding: 10px 0;
    font-size: 16px;
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s ease;
    background-color: #fff;
    border-radius: 5px;
}

.main_menu .user_profile-modal.active{
    transform: scale(1);
}

.main_menu .user_profile-modal hr{
    border: transparent;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.148);
}
.main_menu .user_profile-modal div{
    padding: 10px 20px;
}
.main_menu .user_profile-modal svg{
    color: black;
}


/* bars */

.header_bars {
    cursor: pointer;
}

.header_bars span {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background-color: #fff;
    display: block;
    transition: .3s ease-in-out;
}

.header_bars.active span:nth-child(2) {
    width: 20px;
}

.header_bars.active span:last-child {
    width: 10px;
}


/* side_menu */
.side_menu {
    background-color: rgba(0, 0, 0, 0.478);
    position: fixed;
    top: 0;
    left: -300%;
    width: 100%;
    transition: all .7s ease-out;
    z-index: 20;
}

.side_menu.active {
    left: 0;
}

.side_menu-body {
    height: 100vh;
    list-style: none;
    width: 40%;
    min-width: 250px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px 0;
}

.side_menu-body::-webkit-scrollbar{
    width: 0px;
}


.side_menu-body .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    
}

/* .side_menu-body li{
    margin: 10px 0;
} */

.side_menu-body a {
    color: #fff;
    padding: 10px 0;
    font-size: 18px;
    position: relative;
    transition: .3s ease-out;
    display: inline-block;
}

.side_menu-body li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: .3s ease-out;
}

.header ul li svg{
    margin-right: 15px;
    color: #fff;
}

.side_menu-body a.active::after, .side_menu-body a:hover::after{
    width: 100%;
    left: inherit;
    right: 0;
}

.header ul .profile{
    margin-top: 30px;
    margin-bottom: 30px;
}

.header ul .profile img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.side_menu .profile .name{
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;

}

.side_menu .profile .role{
    color: #fff;
    text-align: center;
}

