:root {
  --primary-color: #6c5ce7;
  --primary-color-dark: #3d2eb4;
  --secondary-color: #00cec9;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/*****************************
************* global**********
******************************/
.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}


/* color */
.primary-color {
  color: var(--primary-color);
}

.primary-dark-color {
  color: var(--primary-color-dark);
}

.white-color {
  color: #fff;
}

.red-color {
  color: #ff7675;
}

.primary-background {
  background: var(--primary-color);
}

.primary-dark-background {
  background: var(--primary-color-dark);
}

.white-background {
  background: #fff;
}

.red-background {
  background: #ff7675;
}


/* display */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}



.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

/* button */

.border_button {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  padding: 10px 50px;
  border-radius: 30px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  transition: .3s ease;
}

.border_button:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

.button_primary {
  color: #fff;
  background-color: var(--primary-color);
  padding: 15px 50px;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
  border: transparent;
}

.border_button:hover {
  background-color: var(--primary-color-dark);
}

.cursor-pointer {
  cursor: pointer;
}

.app {
  overflow-x: hidden;
}

/* grid */
.grid-3 {
  display: grid;
  grid-gap: 15px;
  margin: 20px 0;
  grid-template-columns: 1fr;
}


input:focus {
  outline: rgba(0, 0, 0, 0.412);
}


/* margin */
.mb-3 {
  margin-bottom: 9px;
}

.py-4 {
  padding-top: 12px;
  padding-bottom: 12px;
}


@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}