:root{
  --primary-color: #6c5ce7;
  --primary-color-dark: #3d2eb4;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,a:hover{
  text-decoration: none;
}

img{
  max-width: 100%;
}


/*****************************
************* global**********
******************************/
.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.primary-color{
  color: var(--primary-color);
}
.primary-dark-color{
  color: var(--primary-color-dark);
}
.white-color{
  color: #fff;
}

.d-none{
  display: none;
}

.d-block{
  display: block;
}

.text-center{
  text-align: center;
}
